/.vscode
frotendapp/.DS_STORE
frotendapp/node_modules
frotendapp/scripts/flow/*/.flowconfig
frotendapp/.flowconfig
frotendapp/*~
frotendapp/*.pyc
frotendapp/.grunt
frotendapp/_SpecRunner.html
frotendapp/__benchmarks__
frotendapp/uild/
frotendapp/remote-repo/
frotendapp/coverage/
frotendapp/.module-cache
frotendapp/fixtures/dom/public/react-dom.js
frotendapp/fixtures/dom/public/react.js
frotendapp/test/the-files-to-test.generated.js
frotendapp/*.log*
frotendapp/chrome-user-data
frotendapp/*.sublime-project
frotendapp/*.sublime-workspace
frotendapp/.idea
frotendapp/*.iml
frotendapp/.vscode
frotendapp/*.swp
frotendapp/*.swo